<form method="post" action="{{ path('app_devis_delete', {'id': devis.id}) }}" onsubmit="return confirm({{ "form.confirm"|trans({},'interface') }});">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ devis.id) }}">
    <button class="btn btn-danger">
        {{ "delete"|trans({}, 'interface') }}
    </button>
</form>

