.devisLine {
    display: grid;
    grid-gap: 1%;
    align-items: end;
}
/* 📱 Mobile : tous les éléments prennent toute la largeur */
@media screen and (max-width: 576px) {
    .devisLine {
        grid-template-columns: 100%;
    }
}
@media screen and (min-width: 577px) {
    .devisLine {
        grid-template-columns: 50% 10% 10% 10% 10% 5%;
    }
}
